body {
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px
}
button {
  min-width:160px;
  position:relative;
  opacity: 0;
  animation-name: pulse;
  animation-duration: 220ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-delay: 200ms;
}
.btn {
  border: 2px outset lightgreen;
}
.badge {
  cursor: pointer;
  border: 2px outset;
}
#start-button, #previous-button, #next-button {
  transition: all 300ms ease, transform 400ms ease;
}
#start-button {
  position:absolute;
  transform: translateX(-25%);
}
#header {
  background-color: white;
  margin-bottom: 0px;
  padding: 10px 40px 30px 40px;
  box-shadow: 0px 0px 2px 0px black;
}
#pizza-card {
  width:100%;
  transform: translateX(100%);
  opacity:0;
  transition: all 600ms ease;
  font-size: 1.15em;
  border-right: 0px;
  /* transform-origin: top; */
}
#overlay {
  background: black;
  opacity: 0.7;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  display:none;
  z-index:24
}
#invoice {
  position:fixed;
  transform: translateX(-50%);
  top: 10%;
  left: 50vw;
  z-index: 25;
}
#invoice>.card-body {
  padding:30px 50px 30px 50px;
}
#item-list {
  min-height:36vh;
}
#final-button {
  border: 2px outset lightgreen;
}
.bordered {
  border: 1px solid black;
  padding:5px 12px;
}
.container {
  max-width:800px;
}
.right-align {
  text-align:right;
}
.size-badge, .style-badge, .toppings-badge {
  transition: all 400ms ease;
}
.toppings-badge {
  padding-top: 8%;
  padding-bottom: 8%;
  font-size:0.65em
}
.cheese-badge {
  padding-top: 8%;
  padding-bottom: 8%;
  width:90%;
  font-size:0.65em
}
.lead {
  text-align:right;
  color:#777;
  font-style: italic;
  font-size:1.05rem;
  padding-top:1%;
}
.section {
  width: 100%;
  display:none;
}
.prev-next {
  pointer-events: none;
}
.card {
  box-shadow: 0px 0px 2px 0px black;
}
.pulse {
  animation-play-state: running;
}
@keyframes pulse {
  50% {opacity:0.9}
}