button {
  min-width:160px;
  position:relative;
  left: 10%;
  opacity: 0;
  transform-origin: left;
}
#start-button, #previous-button, #next-button {
  transition: all 300ms ease;
}
#start-button {
  position:absolute;
}
#header {
  margin-bottom: 0px;
  padding: 10px 40px 30px 40px;
}
#pizza-card {
  width:100%;
  transform: translateX(100%);
  opacity:0;
  transition: all 600ms ease;
  font-size: 1.5em
}
.lead {
  color:#777
}
.section {
  width: 100%;
  display:none;
}
.badge {
  cursor: pointer;
  margin-top:5px;
  margin-bottom:5px;
}
